web-services/wsdl/wsdl-service/SampleService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
             xmlns:tns="http//axis2.apache.org/sample/wsdl"
             xmlns:ns1="http//axis2.apache.org/sample/wsdl/types"
             targetNamespace="http//axis2.apache.org/sample/wsdl">
    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns:tns="http//axis2.apache.org/sample/wsdl/types"
                    targetNamespace="http//axis2.apache.org/sample/wsdl/types"
                    elementFormDefault="qualified"
                    attributeFormDefault="unqualified">
            <xsd:element name="echoString">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="param" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoStringResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="param" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoProject">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="param" type="tns:project"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoProjectResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="param" type="tns:project"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="project">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string"/>
                    <xsd:element name="manager" type="tns:employee"/>
                    <xsd:element name="developers" type="tns:employee" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="employee">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string"/>
                    <xsd:element name="empID" type="xsd:string"/>
                    <xsd:element name="age" type="xsd:int"/>
                    <xsd:element name="salary" type="xsd:double"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>

    <message name="EchoStringRequest">
        <part name="part" element="ns1:echoString"/>
    </message>
    <message name="EchoStringResponse">
        <part name="part" element="ns1:echoStringResponse"/>
    </message>
     <message name="EchoProjectRequest">
        <part name="part" element="ns1:echoProject"/>
    </message>
    <message name="EchoProjectResponse">
        <part name="part" element="ns1:echoProjectResponse"/>
    </message>

    <portType name="SamplePortType">
        <operation name="echoString">
            <input message="tns:EchoStringRequest"/>
            <output message="tns:EchoStringResponse"/>
        </operation>
        <operation name="echoProject">
            <input message="tns:EchoProjectRequest"/>
            <output message="tns:EchoProjectResponse"/>
        </operation>
    </portType>

    <binding name="SampleSoap11Binding" type="tns:SamplePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="echoString">
            <soap:operation style="document" soapAction="urn:echoString"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="echoProject">
            <soap:operation style="document" soapAction="urn:echoProject"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="SampleSoap12Binding" type="tns:SamplePortType">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="echoString">
            <soap12:operation style="document" soapAction="urn:echoString"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
        <operation name="echoProject">
            <soap12:operation style="document" soapAction="urn:echoProject"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="SampleService">
        <port name="Soap11Port" binding="tns:SampleSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/SampleService"/>
        </port>
        <port name="Soap12Port" binding="tns:SampleSoap12Binding">
            <soap:address location="http://localhost:8080/axis2/services/SampleService"/>
        </port>
    </service>
</definitions>
